* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #e1e1e6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 66px;
  background-color: #0f0d13;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main {
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 700px) {
  main {
    flex-direction: column;
    align-items: center;
  }
}
